body {
width: 100%;
height: 100%;
margin: 0 auto;
	
}
ul {
	padding: 0px!important;
}
.menu-principal {
white: 100%;
background-color: #fff;
height: 80px;

	
}
main {
margin: 0 auto;
width: 100%;
position: relative;
	
}
.logo {
	float: left;
padding: 13px;
width: 70%;
margin-top: 4px;

}

.redes-sociais ul li {
margin-left: 52px;
display: inline-block;
float: left;
list-style: none;
margin-top: 15px;
padding-left: 2px;
}
.redes-sociais {
width: 25%;
float: right;

}

.header-2{
background-color: #fff;
width: 100%;
margin: 0 auto;
background-color: green;
padding: 41px;
}
.menu-urls{
	border-bottom: 3px solid green;
	height: 43px;
	padding: 30px;
}
.menu ul li{
	display: inline-block;
	color: #fff;
	margin-left: 15px;
	height: 31px;
	
}

.menu ul li a:hover {
	color:#00bac6
}
.menu ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	
}
.coll-100 {
	width: 100%;
	float: left;
}


button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(imagen\voltar.png);
    top: 35%;
    left: 14%;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(imagen\next.png);
    top: 35%;
    right: 14%;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.slide-p {
	width: 100%!impotant;
	height:70%;
}

.slick-dots li {
	padding-left: 10px;
	display: inline-block;
	
}

.slick-dots {
	margin: 0 auto;
	width: 50%;
	position: absolute;
	left: 50%;
	top: 486px;
}
.slick-dots li button {
	font-size: 0px;
	border 5px solid #ffffff;
	width: 26px;
	height: 26px;
	background: transparent;
	border-radius: 50%;
	cursor: pointer;
	
}
li.slick-active button{
	background:  #00bac6;
}


.texto-destaque {
    text-align: center;
}
.texto-destaque strong {
    color: #646464;
}
.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: black;
}
.texto-destaque p {
    font-size: 15px;
    color: #9a9a9a;
}

.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; 
    width: 29%;
    float: left;
    position: relative;
}
.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.bloco-imagem {
    height: 300px;
    border: 1px solid #c5c5c5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.bloco-imagem b, p {
    text-align: left;
}
.bloco-texto {
    margin-top: 3em;
}



.bloco-imagens-texto {
    background-color: #eeeeee;
}
.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: #ffffff;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}
.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background: #eeeeee;
} 
.col-4 {
    float: left;
    width: 25%;
    text-align: center;
}
.col-4 img {
cursor: pointer;
 margin: 0 auto;
 padding-top: 1em;
 vertical-align: middle;
}
.col-4 img:hover {
    margin-top: 10px!important;
    position: relative!important;
}

.bloco-logos {
    height: 170px;
}

.bloco-logos img {
    margin-top: 50px;
}

.footer h3 {
    text-align: left;
}

.footer {
    background-image: url('../img/footer.png');
    color: #ffffff;
}

.footer-2 {
    background-image: url('../img/footer2.png');
    color: #c1c1c1;
    height: 90px;
}


.footer p {
    width: 90%;
    text-align: left;
}

.footer-2 p {
    padding: 10px;
}

.clock {
    color: #898989!important;
}

.clock:before {
    content: '';
    width:  15px;
    height: 15px;
    display: inline-block;
    background-image: url('../img/clock.png');
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local:before, .emailico:before, .telefoneico:before {
    content: '';
    width:  17px;
    height: 24px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}
.local:before {
    background-image: url('../img/local.png');
}  
.emailico:before {
    background-image: url('../img/emailico.png');
}  
.telefoneico:before {
    background-image: url('../img/telefoneico.png');
}  
.ajuta-cidades ul li{
	display: inline-block;
	margin-left:80px;
	float: center;
	list-style: none;
	height: 43px;
	padding: 30px;
	padding-left: 30px;
	
	
	
}
.aling-text{
	vertical-align: middle;
	padding-left: 50px;
	float: center;
	
}
.alin-text2{
	font:70% Arial Black;
	width:500px;
    height:38px;
    position:relative;
    top:60%;
    left:40%;
    margin-top:-31px;
    margin-left:-160px;
}
.tex-sobre-cidades{
	text-align: justify;
	font:87% verdana;
}
* {
    box-sizing: border-box;
}

footer {
    line-height: 50px;
    height: 100px;
	font:78% Arial Black;
	color: white;
    background: #009000;
    padding: 28px;
	
}

footer ul {
    float: right;
    display: table;
}

footer ul li {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}
.ajuta-cidades ul li a{
	color: #000;
	text-decoration: none;
	font-size: 24px;
	min-height: 9em;
    display: table-cell;
    vertical-align: center;
	position: absolute;
	margin-left: 0 auto;
	
{


	







